<div class="home">
  <h3>Collections</h3>
  <p *ngIf="(collectionData | async).isLoading()">Loading…</p>
  <p *ngIf="(collectionData | async).isFailed()">Failed: {{(collectionData.errorMessage | async)}}</p>
  <ul *ngIf="(collectionData | async).isSuccess()">
      <li *ngFor="let collection of (collectionData | async).data">
        {{collection?.name}}<br>
        <span class="text-muted">{{collection?.shortDescription}}</span>
      </li>
    </ul>
  <h3>Items</h3>
  <ul>
    <li *ngFor="let item of (itemData | async).data">
      {{item?.name}}<br>
      <span class="text-muted">{{item?.findMetadata('dc.description.abstract')}}</span>
    </li>
  </ul>
</div>
